<div class="ndsc_t_prodname_hd" style="font-family: arial, verdana, sans-serif; font-size: 13px;">
<h2 style="font-size: 28px; margin: 30px 0px 0px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; line-height: 30.8px; letter-spacing: -1px;"><strong>Seagate</strong></h2>
</div>
<div class="ndsc_t_detail_hd" style="font-family: arial, verdana, sans-serif; font-size: 13px;">
<h2 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; color: #004c91; margin: 0px; line-height: 19.8px; font-size: 18px; letter-spacing: -0.04em;"><strong><span class="ndsc_t_detail_size ndsc_ecto_blue" style="font-size: 35px; line-height: 35px; color: #0084fb; letter-spacing: -1px;">1.0TB&nbsp;</span>Desktop HDD Hard Disk Drive</strong></h2>
</div>
<div class="ndsc_t_marketing_txt" style="font-size: 16px; line-height: 20.8px; margin: 15px 0px 0px; font-weight: bold; font-family: arial, verdana, sans-serif;"><strong>3.5-Inch | SATA 6.0Gb/s | 7200RPM | 64MB Cache</strong></div>
<div class="cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_features_title_hd" style="font-size: 25px; line-height: 32.5px; font-weight: bold; margin: 20px 0px 0px; border-bottom: 1px solid #cccccc; font-family: arial, verdana, sans-serif;"><strong>One hard drive for all your desktop applications</strong></div>
<div class="ndsc_features_subtitle_hd" style="font-size: 14px; line-height: 18.2px; font-weight: bold; margin: 15px 0px 0px; font-family: arial, verdana, sans-serif;">Amazing Versatility</div>
<div class="ndsc_features_text_hd" style="line-height: 17.4px; margin: 0px 0px 0px 15px; color: #333333; font-family: arial, verdana, sans-serif;">Versatile and dependable, Seagate's fierce new BarraCuda drives are inspired by the past but ready for the future. BarraCuda drives are a cost&ndash;effective way to handle all your PC needs&ndash;working, playing storing your movies and music, and more.</div>
<div class="ndsc_features_subtitle_hd" style="font-size: 14px; line-height: 18.2px; font-weight: bold; margin: 15px 0px 0px; font-family: arial, verdana, sans-serif;">TIRELESS DURABILITY</div>
<div class="ndsc_features_text_hd" style="line-height: 17.4px; margin: 0px 0px 0px 15px; color: #333333; font-family: arial, verdana, sans-serif;">For over 20 years, the BarraCuda family has delivered ultra-reliable storage for the hard drive industry. BarraCuda drives even feature Self-Encrypting Drive (SED) technology to prevent data breaches. Certain models also offer Seagate Secure1 hardware-based data security with Instant Secure Erase for easy drive retirement.</div>
<div class="ndsc_features_subtitle_hd" style="font-size: 14px; line-height: 18.2px; font-weight: bold; margin: 15px 0px 0px; font-family: arial, verdana, sans-serif;">LARGE CAPACITY</div>
<div class="ndsc_features_text_hd" style="line-height: 17.4px; margin: 0px 0px 0px 15px; color: #333333; font-family: arial, verdana, sans-serif;">Store it all. With capacities up to 4 TB for desktops, BarraCuda leads the market with the largest range of storage options available.</div>
<div class="ndsc_ha_title" style="font-size: 13px; line-height: 15.6px; font-weight: bold; border-bottom: 1px solid #cccccc; margin: 15px 0px 0px; font-family: arial, verdana, sans-serif;">Highlights</div>
<ul class="ndsc_ha" style="font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; line-height: 16.25px; font-size: 13px; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 10px;">
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Cost-effective storage upgrade for laptop or desktop computers</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Store all your games, music, movies and more with up to 4TB of storage</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">SATA 6Gb/s interface optimizes burst performance; 64MB Cache</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Seagate Secure models for hardware-based data security</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Instant Secure Erase allows safe and easy drive retirement</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Warranty Safe Upgrade.</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">2 Year Seagate Warranty</li>
</ul>
<div class="ndsc_ha_title" style="font-size: 13px; line-height: 15.6px; font-weight: bold; border-bottom: 1px solid #cccccc; margin: 15px 0px 0px; font-family: arial, verdana, sans-serif;">Best-fit Applications</div>
<ul class="ndsc_ha" style="font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; line-height: 16.25px; font-size: 13px; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 10px;">
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Desktop or all-in-one PCs</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Home servers</li>
<li style="margin: 5px 0px 0px; font-size: 11px; line-height: 13.2px; color: #333333;">Entry-level direct-attached storage devices (DAS)</li>
</ul>
<p>&nbsp;</p>
<div class="ndsc_mem_comp_title" style="font-weight: bold; font-size: 20px; line-height: 24px; padding-top: 10px; border-bottom: 1px solid #cccccc; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; font-family: arial, verdana, sans-serif;">This product is compatible with...<span class="ndsc_mem_comp_model_id" style="font-weight: normal; font-size: 12px; line-height: 14.4px; margin: 8px 0px 0px; float: right;"><a class="colorbox cboxElement" href="https://eshop.macsales.com/imgs/ndesc/global/model_id_screen.gif" style="background-color: transparent; color: #3489c5; text-decoration-line: none;">Click here to find your Mac's model ID</a></span></div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 12-Core (Mid 2012)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(June, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.4GHz, 2.66GHz, 3.06GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 6-Core (Mid 2012)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(June, 2012)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 4-Core (Mid 2012)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(June, 2012)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.2GHz</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 12-Core (Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.66GHz, 2.93GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 8-Core (Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.4GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 6-Core (Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 4-Core (Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.8GHz, 3.2GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 8-Core (Early 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(March, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro4,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.26GHz, 2.66GHz, 2.93GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 4-Core (Early 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(March, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro4,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.66GHz, 2.93GHz, 3.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 8-Core (Early 2008)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(January, 2008)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro3,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.8GHz, 3.0GHz, 3.2GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 4-Core (Early 2008)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(January, 2008)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro3,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.8GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 8-core (Early 2007)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2007)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro2,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.0GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="Mac Pro" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/mac_pro/sys_macpro.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Mac Pro 4-core (Mid 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(August, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;MacPro1,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz, 2.66GHz, 3.0GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5 (Late 2005)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(October, 2005)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac11,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz, 2.3GHz, dual 2.5GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5 (Early 2005)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2005)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac7,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">dual 2.0GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5 (Early 2005)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2005)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac7,3</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">dual 2.3GHz, dual 2.7GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5 (Late 2004)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(October, 2004)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac9,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">1.8GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5 (June 2004)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(June, 2004)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac7,3</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">dual 1.8GHz, dual 2.0GHz, dual 2.5GHz</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="PowerMac G5" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/powermac_g5/sys_powermac_g5.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">Power Mac G5</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(June, 2003)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;PowerMac7,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">1.6GHz, 1.8GHz, dual 1.8GHz, dual 2.0GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Late 2013)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2013)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac14,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.9GHz i5, 3.2GHz i5, 3.4GHz i7</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2012-and-later-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21_red.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;"><span class="ndsc_mem_comp_only" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #cc0000;">NOT COMPATIBLE</span><br /> iMac (21.5-inch Late 2013)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2013)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac14,1; iMac14,3</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.7GHz i5, 2.9GHz i5, 3.1GHz i7</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Late 2012)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(November, 2012)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac13,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.9GHz i5, 3.2GHz i5, 3.4GHz i7</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2012-and-later-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21_red.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;"><span class="ndsc_mem_comp_only" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #cc0000;">NOT COMPATIBLE</span><br /> iMac (21.5-inch Late 2012)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(November, 2012)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac13,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.7GHz i5, 2.9GHz i5, 3.1GHz i7</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (21.5-inch Late 2011)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(August, 2011)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac12,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.1GHz i3</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-21-27-imac-2011-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Mid 2011)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(May, 2011)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac12,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.7GHz i5, 3.1GHz i5, 3.4GHz i7</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-21-27-imac-2011-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (21.5-inch Mid 2011)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(May, 2011)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac12,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.5GHz i5, 2.7GHz i5, 2.8GHz i7</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-21-27-imac-2011-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac11,3</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.8GHz, 2.93GHz, 3.2GHz, 3.6GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2009-2010-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (21.5-inch Mid 2010)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(July, 2010)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac11,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.06GHz, 3.2GHz, 3.6GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2009-2010-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Late 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(October, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac10,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.06GHz, 3.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2009-2010-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_27.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (27-inch Late 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(October, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac11,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.66GHz, 2.8GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2009-2010-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_21.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (21.5-inch Late 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(October, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac10,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">3.06GHz, 3.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;"><a href="https://www.macfixit.com.au/owc-diy-kit-for-all-apple-27-imac-2009-2010-models-for-replacing-the-main-hard-drive/" style="background-color: transparent; color: #cc0000; text-decoration-line: none;">Requires OWC Digital Thermal Sensor Kit</a></div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_24.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (24-inch Mid 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac9,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_24.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (24-inch Early 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(March, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac9,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.66GHz, 2.93GHz, 3.06GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_20.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (20-inch Early 2009)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(March, 2009)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac9,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.66GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_24.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (24-inch Early 2008)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2008)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac8,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.8GHz, 3.06GHz</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_20.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (20-inch Early 2008)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(April, 2008)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac8,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.4GHz, 2.66GHz</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_24.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (24-inch Mid 2007)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(August, 2007)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac7,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.4GHz, 2.8GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_20.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (20-inch Mid 2007)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(August, 2007)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac7,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz, 2.4GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_24.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (24-inch Late 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac6,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.16GHz, 2.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_20.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (20-inch Late 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.16GHz, 2.33GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_17.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (17-inch Late 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac5,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz, 2.16GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_17.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (17-inch Late 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(September, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac5,2</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">1.83GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_20.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (20-inch Early 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(January, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac4,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">2.0GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_item" style="width: 160px; padding: 0px; margin: 4px 5px 0px; text-align: center; float: left; font-family: arial, verdana, sans-serif; font-size: 13px;">
<div class="ndsc_mem_comp_image" style="width: 150px; height: 100px; background: #dedede; margin: 4px 0px 2px 8px;"><img alt="iMac Intel" height="100" src="https://img2.owcnow.com/imgs/ndesc/memory/computers/imac_intel/sys_imac_intel_white_17.jpg" style="border: 0px; vertical-align: middle;" width="150" /></div>
<div class="ndsc_mem_comp_name" style="font-weight: bold; font-size: 12px; line-height: 14.4px; margin: 0px;">iMac (17-inch Early 2006)</div>
<div class="ndsc_mem_comp_name_sub" style="font-weight: bold; font-size: 11px; line-height: 13.2px; margin: 0px; color: #666666;">(January, 2006)</div>
<div class="ndsc_mem_comp_modelid" style="font-size: 11px; line-height: 13.2px; margin: 5px 0px 0px;"><span class="ndsc_id" style="font-weight: bold;">Model ID:</span>&nbsp;iMac4,1</div>
<div class="ndsc_mem_comp_speed" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #4e4e4e;">1.83GHz</div>
<div class="ndsc_mem_comp_specs" style="font-size: 11px; line-height: 13.2px; margin: 0px; color: #333333;">&nbsp;</div>
</div>
<div class="ndsc_mem_comp_cl" style="clear: both; font-size: 1px; height: 1px; line-height: 1px; border-bottom: 1px solid #cccccc; margin: 0px 0px 10px; padding: 10px 0px 0px; font-family: arial, verdana, sans-serif;">&nbsp;</div>