1.Loi khi click vao menu trong module moi' custom thi no' lai redirect ve dasdboard trang chu backend hoac loi 404. Ly do la
	trong menu.xml
		<add id="OnlineBiz_CustomComponent::a_menu_item" resource="OnlineBiz_CustomComponent::menu_1" title="Show Custom Component" action="onlinebiz_component/index/index" module="OnlineBiz_CustomComponent" sortOrder="1" parent="Magento_Backend::system_other_settings" dependsOnModule="Magento_Backend"/>
	chu' y' action
	trong routes.xml
		<route id="onlinebiz_component22" frontName="onlinebiz">
			<module name="OnlineBiz_CustomComponent"/>
		</route>

	chu' y id 
	action va id nay phai co' ten giong nhau onlinebiz_component chu' k phai onlinebiz_component22
	neu action va id khong trung ten nhau thi khi click no' se bao 404, nhung neu frontName trung voi action thi no' lai redirect ve dasdboard trang chu backend.



